
.bg{
    background-image: url(./WhatsApp\ Image\ 2023-11-01\ at\ 14.51.09_ee32d4b3\ \(1\).jpg);
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top:0;
    left:0;
    background-size: cover;
    z-index:-1;
    filter:blur(2px);
}

span{
    color:red;
    gap:1px;
    text-shadow: 20px;
}

.name{
    font-size: 55px;
    font-weight: bolder;
    margin: 20px 550px 10px 150px;
    font-family: "Bebas Neue", sans-serif;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
svg{
    color: white;
    height: 22px;
    margin: 5px;
  }

.svg_btn{
    display: flex;
    border: 1px solid white;
    height: 40px;
    width: 120px;
    margin: 40px 10px 20px 300px;
    padding: 5px;
    text-align: center;
    border-radius: 10%;
}

.svg_btn p{
    font-size: 20px;
    color: white;
}

.sign_in{
     color:white;
     font-size: 20px;
     border: 0px solid red;
     width: 80px;
     height: 40px;
     border-radius: 15%;
     text-align: center;
     padding: 5px;
     background-color: red;
     margin: 40px 20px 20px 10px ;
}

.button_svg{
    display: flex;
}

.header{
    display: flex;
}

.main_text{
    color:white;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    margin: 160px 0px 20px 0px ;
}

.text{
    color:white;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.mail{
    height: 20px;
    width:250px;
    margin:10px 30% 10px 30%
}

input{
    height: 45px;
    width:375px;
    color: white;
    background-color: #00000050;
    border:2px solid white;
    border-radius: 5px;
    margin: 10px ;
}

.mail_started{
    display: flex;
}

.button_start{
    display: flex;
    height: 45px;
    width:175px;
    border:2px solid red;
    border-radius: 5%;
    background-color: red;
    text-align: center;
    color:white;
    font-size: 18px;
    padding: 5px 10px;
    margin:17px 10px 10px -300px;
}




